.rotate {
  animation-name: Rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
}

.rotate:hover {
  animation-name: none;
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.autoComplete {
  ul {
    width: 95%;
    li {
      margin: 3px;
    }

    li:hover {
      background-color: #c7e1fb;
    }
  }

  .dropdown-menu {
    padding: 3px;
  }
  .red {
    color: red;
  }
}
