<div class="container">
    <div class="row">
        <div class="col-lg-12 header01">
            <img src="assets/img/tutwuri01.png" class="img-fluid" align="left">
            <img src="assets/img/lldikti.png" class="img-fluid" align="right">
            <H3 class='text-uppercase text-center'>sistem informasi perhitungan angka kredit dosen</H3>
            <p style="font-size: 20px;" class="text-capitalize">lembaga layanan pendidikan tinggi wilayah XIV
                papua
                dan papua barat</p>
            <hr>
        </div>
        <div class="container text-barlow">
            <div class="row">
                <div class="col-md-6">
                    <div class="garis-biru rotate">
                        <div class="garis-kuning">
                            <a ui-sref="home">
                                <div class="alamat1 text-uppercase">
                                    <p>home</p>
                                </div>
                            </a>
                            <a ui-sref="about">
                                <div class="alamat2 text-uppercase">
                                    <p>about</p>
                                </div>
                            </a>
                            <a ui-sref="login">
                                <div class="alamat3 text-uppercase">
                                    <p>sign in</p>
                                </div>
                            </a>
                            <a ui-sref="register">
                                <div class="alamat4 text-uppercase">
                                    <p>sign up</p>
                                </div>
                            </a>
                            <div class="biru-muda text-center">
                                <h2 class="text-uppercase">SIPAK</h2>
                                <P class="text-uppercase">dosen</P>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 mt-5">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid text-barlow footer">
    <div class="row">
        <div class="col-md-12 mt-5 text-center footer bg-secondary text-light">
            Lembaga Layanan Pendidikan Tinggi Wilayah XIV Papua Dan Papua Barat
        </div>
    </div>
</div>