<h2>SIGN IN</h2>
<hr>
<form class="form-group">
	<div class="form-group">
		<label class="control-label">User Name</label>
		<input class="form-control" ng-model="model.username" type="text" name="" placeholder="User Anda" required="">
	</div>
	<div class="form-group">
		<label class="control-label">Password</label>
		<input class="form-control" ng-model="model.password" type="password" name=""
			placeholder="Masukan Password Anda" required="">
	</div>
	<button ng-click="login(model)" class="btn btn-primary" name="" id="">Login</button>
</form>