            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-3">
                        <div class="card-header bg-info text-light">
                            <div class="card-title" style="display: inline; font-size: 20px;">Home</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class="card bg-success text-light text-center">
                                        <div class=" card-header">Akumulatih AK Diperoleh</div>
                                        <div class="card-body">
                                            <h2>{{total}}</h2>
                                        </div>
                                        <div class="card-footer">
                                            <p>Last Update {{tanggal|date:'dd-MM-yyyy'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="card bg-yellow text-light text-center">
                                        <div class="card-header">Jumlah Perbaiakan Berkas</div>
                                        <div class="card-body">
                                            <h2>0</h2>
                                        </div>
                                        <div class="card-footer">
                                            <p>Last Update 2019, 01, 01</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card mt-3">
                        <div class="card-header bg-info text-light">
                            <div class="card-title" style="display: inline; font-size: 20px;">Rekap Akumulatif
                                Angka Kredit</div>
                        </div>
                        <div class="card-body">
                            <div class="table table-responsive">
                                <table class="table table-hover table-bordered">
                                    <tbody ng-repeat="item in datas">
                                        <tr>
                                            <td class="text-center">{{angkatohuruf($index+1)}}</td class="text-center">
                                            <td colspan="5">{{item.namaunsur}}</td>
                                        </tr>
                                        <tr ng-repeat="data in item.subunsur">
                                            <td></td>
                                            <td class="text-center">{{$index+1}}</td class="text-center">
                                            <td colspan="3">{{data.namasubunsur}}</td>
                                            <td colspan="3">{{data.totalsubunsur}}</td>
                                        </tr>
                                    </tbody>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mt-3">
                        <div class="card-header bg-info text-light">
                            <div class="card-title" style="display: inline; font-size: 20px;">Pre Request Angka Kredit
                                Sesuai
                                Jabatan Fungsional Dosen</div>
                        </div>
                        <div class="card-body">
                            <div class="table table-responsive">
                                <table class="table table-hover table-bordered">
                                    <tr class="bg-dark text-light">
                                        <td>Jabatan Fungsional</td>
                                        <td>Pangkat</td>
                                        <td>Golongan</td>
                                        <td>Ruang</td>
                                        <td>Angka Kredit</td>
                                        <td>Kebutuhan Angka Kredit</td>
                                    </tr>
                                    <tr ng-repeat="item in Jabatans">
                                        <td>{{item.jabatan}}</td>
                                        <td>{{item.pangkat}}</td>
                                        <td>{{item.golongan}}</td>
                                        <td>{{item.ruang}}</td>
                                        <td>{{item.ak}}</td>
                                        <td>{{item.nilai}}</td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>