<div class="row non-print">
    <div class="col-md-12 mt-3">
        <h2 class="mt-1" style="display: inline;">Data Penilaian</h2>
        <button class="btn btn-outline-primary fa-pull-right" data-toggle="modal" data-target="#kegiatan">
            <span class="fas fa-plus"></span>
        </button>
        <hr class="garis" />
        <div class="table table-responsive"></div>
        <table class="table table-bordered table-hover" id="myTable" datatable="ng">
            <thead class=" bg-primary">
                <tr>
                    <th class="text-center">No</th>
                    <th>Tahun Peraturan</th>
                    <th>Unsur</th>
                    <th>Kegiatan</th>
                    <th>Uraian Kegiatan</th>
                    <th>Tanggal</th>
                    <th style="width: 50px;">Satuan Hasil</th>
                    <th style="width: 50px;">Jumlah Volume Kegiatan</th>
                    <th style="width: 50px;">Jumlah AK</th>
                    <th>Keterangan</th>
                    <th class="text-center">Opsi</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in datas">
                    <td class="text-center">{{$index+1}}</td>
                    <td>{{item.tahun}}</td>
                    <td>{{item.namaunsur}}</td>
                    <td>{{item.namasubunsur}}</td>
                    <td>{{item.uraiankegiatan}}</td>
                    <td>{{item.tanggal|date:'dd-MM-yyyy'}}</td>
                    <td>{{item.satuanhasil}}</td>
                    <td>{{item.jumlahkegiatan}}</td>
                    <td>{{item.akview}}</td>
                    <td>{{item.keterangan}}</td>
                    <td class="text-center">
                        <button ng-click="SelectItem(item)" data-toggle="modal" data-target="#kegiatan"
                            class="btn btn-outline-success">
                            <span class="fas fa-edit"></span>
                        </button>
                        <button ng-click="SelectedItem(item)" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#delete">
                            <span class="fas fa-eraser"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal tambah kegiatan-->
<div class="modal fade" id="kegiatan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Kegiatan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="save(model)">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Tahun Peraturan</label>
                                <input ng-model="Peraturan.tahun" type="text" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Unsur</label>
                                <select class="form-control" ng-model="Unsur"
                                    ng-options="option.nama for option in Unsurs track by option.idunsur"></select>

                            </div>
                            <div class="form-group autoComplete">
                                <textarea ng-class="{red:error}" type="text" placeholder="Cari Kegiatan"
                                    ng-change="changeSubUnsur()" ng-model="model.namasubunsur"
                                    typeahead-on-select="selectTypeAhead(model,$item)"
                                    typeahead="state.namasubunsur for state in SubUnsurs | 
                                    filter:{idunsur:Unsur.idunsur, idjabatan:Profile.idjabatan, namasubunsur:$viewValue} | limitTo:8" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Uraian Kegiatan</label>
                                <textarea ng-model="model.uraiankegiatan" class="form-control" cols="30" rows="3"
                                    placeholder="Example Melaksanan Proses Pengajaran Selama 2 SMT"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Tanggal</label>
                                <input type="date" ng-model="model.tanggal" required class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Satuan Hasil</label>
                                <textarea ng-model="model.satuanhasil" cols="30" rows="3" class="form-control"
                                    placeholder="Example Lektor 10 SKS pertama = 1"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Jumlah Volume Kegiatan</label>
                                <input ng-change="changeAk(model)" type="number" ng-model="model.jumlahkegiatan"
                                    class="form-control" placeholder="example 1" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Angka Kredit</label>
                                <input type="text" ng-model="model.akview" readonly class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Keterangan</label>
                                <input type="text" ng-model="model.keterangan" class="form-control" required
                                    placeholder="Example No SK 7887865654436">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span class="fas fa-close"></span> Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <span class="fas fa-save"></span> Save
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>



<!--Print-->
<div class="container print">
    <div class="row">
        <div class="col-sm-6">
            <p>DAFTAR USUL PENETAPAN ANGKA KREDIT</p>
        </div>
        <div class="col-sm-6">
            <p>LAMPIRAN I KEPUTUSAN BERSAMA MENTERI PENDIDIKAN DAN KEBUDAYAAN DAN BADAN KEPEGAWAIAN NEGARA
                <br>Nomor : 61409/MPK/KP/99
                <br>Nomor : 181 TAHUN 1999
                <br>Tanggal :13 Oktober 1999</p>
        </div>
        <div class="col-md-12 text-center mt-2">
            <p style="font-size: 20px;">SURAT PERNYATAAN<br>MELAKUKAN KEGIATAN PENDIDIKAN DAN PENGAJARAN</p>
        </div>
        <div class="col-md-12 mt-1">
            <div class="row">
                <div class="col-md-12">
                    <p>Yang bertanda tangan dibawah ini</p>
                </div>
                <label for="" class="col-5">1.Nama</label>
                <input type="text" name="" id="" class="form-control col-7" readonly ng-model="Kaprodi.namadosen">
                <label for="" class="col-5">2.NIDN</label>
                <input type="text" name="" id="" class="form-control col-7" readonly ng-model="Kaprodi.nidn">
                <label for="" class="col-5">3.Pangkat / Golongan</label>
                <input type="text" name="" id="" class="form-control col-7" readonly
                    value="{{Kaprodi.pangkat}} {{Kaprodi.golongan}}/{{Kaprodi.ruang}}">
                <label for="" class="col-5">4.Jabatan</label>
                <input type="text" name="" id="" class="form-control col-7" readonly
                    value="Ketua Program Studi {{Kaprodi.namaprogramstudi}}">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Menyatakan Bahwa</p>
                </div>
                <label for="" class="col-5">1.Nama</label>
                <input type="text" name="" id="" class="form-control col-7" readonly ng-model="Profile.namadosen">
                <label for="" class="col-5">2.NIDN</label>
                <input type="text" name="" id="" class="form-control col-7" readonly ng-model="Profile.nidn">
                <label for="" class="col-5">3.Pangkat / Golongan</label>
                <input type="text" name="" id="" class="form-control col-7" readonly
                    value="{{Profile.pangkat}} {{Profile.golongan}}/{{Profile.ruang}}">
                <label for="" class="col-5">4.Jabatan</label>
                <input type="text" name="" id="" class="form-control col-7" readonly
                    value="Kepala Laboratorium Fakultas Ilmu Komputer Dan Manajemen">
                <label for="" class="col-5">5.Unit Kerja</label>
                <input type="text" name="" id="" class="form-control col-7" readonly
                    value="Dosen Yayasan pada Universitas Sains dan Teknologi Jayapura Program Studi Teknik Informatika, Fakultas Ilmu ">
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <p>Telah Melakukan Kegiatan Pendidikan Dan Pengajaran Sebagai Berikut : </p>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table table-responsive">
                <table class="table table-bordered table-hover" id="myTable">
                    <thead class=" bg-primary">
                        <tr>
                            <th class="text-center">No</th>
                            <th>Uraian Kegiatan</th>
                            <th>Tanggal</th>
                            <th style="width: 50px;">Satuan Hasil</th>
                            <th style="width: 50px;">Jumlah Volume Kegiatan</th>
                            <th style="width: 50px;">Angka Kredit</th>
                            <th style="width: 50px;">Jumlah AK</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in datas">
                            <td class="text-center">{{$index+1}}</td>
                            <td>{{item.uraiankegiatan}}</td>
                            <td>{{item.tanggal|date:'dd-MM-yyyy'}}</td>
                            <td>{{item.satuanhasil}}</td>
                            <td>{{item.jumlahkegiatan}}</td>
                            <td>{{item.ak}}</td>
                            <td>{{item.akview}}</td>
                            <td>{{item.keterangan}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>