<div class="row">
    <div class="col-md-12 mt-3">
        <h2 class="mt-1" style="display: inline;">Data Unsur Pengabdian</h2>
        <button class="btn btn-outline-primary pull-right" ui-sref="dosen-tambah-penelitian">
            <span class="fas fa-plus"></span>
        </button>
        <hr class="garis" />
        <div class="table table-responsive"></div>
        <table class="table table-bordered table-hover" id="myTable">
            <thead class=" bg-primary">
                <tr>
                    <th class="text-center">No</th>
                    <th>Tahun Peraturan Rubrik</th>
                    <th>Sub Unsur</th>
                    <th>Uraian Kegiatan</th>
                    <th>Tanggal</th>
                    <th>Satuan Hasil</th>
                    <th>Jumlah Volume Kegiatan</th>
                    <th>Jumlah AK</th>
                    <th>Bukti Fisik</th>
                    <th class="text-center">Opsi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">{{$index+1}}</td>
                    <td>2019</td>
                    <td>Melaksanakan Pengajarang Selama 2 Semeseter SKS=12</td>
                    <td>Melaksanakan Pengajarang Selama 2 Semeseter SKS=12</td>
                    <td>2018/2019</td>
                    <td>2 smt</td>
                    <td>2</td>
                    <td>2</td>
                    <td><button class="btn btn-primary"><span class="fas fa-file"></span class="fas fa-file"></button>
                    </td>
                    <td class="text-center">
                        <button ng-click="SelectedItem(item)" data-toggle="modal" data-target="#universitas"
                            class="btn btn-outline-success">
                            <span class="fas fa-edit"></span>
                        </button>
                        <button ng-click="SelectedItem(item)" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#delete">
                            <span class="fas fa-eraser"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SIPAK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class=" text-uppercase">
                    Apakah Anda Yakin Ingin Menghapus {{model.Universitas}}?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <span class="fas fa-close"></span> Close
                </button>
                <button ng-click="delete(model)" type="button" class="btn btn-danger">
                    <span class="fas fa-eraser"></span> Delete
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal logout-->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class=" text-uppercase">Apakah Anda Yakin Ingin Keluar ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>