<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-header bg-info text-light">
                <div class="card-title" style="display: inline; font-size: 20px;">Home</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 text-center img-fluid">
                        <fotoprofile></fotoprofile>
                        <changepassword></changepassword>
                    </div>
                    <div class="col-md-9">
                        <h2>Selamat Datang <span>{{Profile.namadosen}}</span><br><span style="font-size: 15px;">Anda
                                Menggunakan SIPAK dengan hak akses Sebagai
                                Dosen Pada Universitas
                                Sains Dan Teknologi
                                Jayapura</span>
                        </h2>
                        <hr style="border-bottom: 1px solid">
                        <div class="row">
                            <p class="col-md-3">NIDN</p>
                            <p class="col-md-9">: {{Profile.nidn}}</p>
                            <p class="col-md-3">Email</p>
                            <p class="col-md-9">: {{Profile.email}}</p>
                            <p class="col-md-3">Jenis Kelamin</p>
                            <p class="col-md-9">: {{Profile.jeniskelamin}}</p>
                            <p class="col-md-3">TTL</p>
                            <p class="col-md-9">: {{Profile.tempatlahir}}, {{Profile.tanggallahir|date:'dd-MM-yyyy'}}
                            </p>
                            <p class="col-md-3">Pendidikan Terakhir</p>
                            <p class="col-md-9">: {{Profile.pendidikanterakhir}}</p>
                            <p class="col-md-3">Jabatan Fungsional</p>
                            <p class="col-md-9">: {{Profile.jabatan}}</p>
                            <p class="col-md-3">Jabatan Akademik</p>
                            <p class="col-md-9">: {{Profile.jabatan}}</p>
                            <p class="col-md-3">Universitas</p>
                            <p class="col-md-9">: {{Profile.namauniversitas}}, {{Profile.namafakultas}},
                                {{Profile.namaprogramstudi}}</p>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>