<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Daftar Usul Penetapan Angka Kredit</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>DAFTAR USUL PENETAPAN ANGKA KREDIT</p>
            </div>
            <div class="col-md-6">
                <p>LAMPIRAN I KEPUTUSAN BERSAMA MENTERI PENDIDIKAN DAN KEBUDAYAAN DAN BADAN KEPEGAWAIAN NEGARA
                    <br>Nomor : 61409/MPK/KP/99
                    <br>Nomor : 181 TAHUN 1999
                    <br>Tanggal :13 Oktober 1999</p>
            </div>
            <div class="col-md-12 text-center mt-2">
                <p style="font-size: 20px;">DAFTAR USUL PENETAPAN ANGKA KREDIT<br>JABATAN FUNGSIONAL DOSEN</p>
            </div>
            <div class="col-md-12 text-center mt-1">
                <p>TANGGAL PENILAIAN : TGL ………………………………..….… S/D TGL …………...…………………………….</p>
            </div>
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table border="2" cellpadding="0" cellspacing="0" class="">
                        <tbody>
                            <tr class="text-center">
                                <td colspan="9">KETERANGAN PERORANGAN</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td colspan="2">Nama</td>
                                <td colspan="6">Evanita Veronika Manullang, MT</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td colspan="2">NIDN</td>
                                <td colspan="6">4853807875</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td colspan="2">Tempat Tanggal Lahir</td>
                                <td colspan="6">Jayapura, 3 November 1990</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td colspan="2">Jenis Kelamin</td>
                                <td colspan="6">Perempuan</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td colspan="2">Pendidikan Tertinggi</td>
                                <td colspan="6">Magister Teknik</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td colspan="2">Fakultas / Jurusan</td>
                                <td colspan="6">Ilmu Komputer Dan Manajemen / Teknik Informatika</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Masa Kerja</td>
                                <td>Lama</td>
                                <td colspan="6"> 0 Tahun</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Baru</td>
                                <td colspan="6">4 Tahun 8 Bulan</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td colspan="2">Unit Kerja</td>
                                <td colspan="6">Dosen Yayasan pada Universitas Sains dan Teknologi Jayapura, Prog.Studi
                                    Tek.Informatika, Fak. Ilmu Komputer dan Manajemen</td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="9">Unsur Yang Dinilai</td>
                            </tr>
                            <tr class="text-center">
                                <td rowspan="3" colspan="3" class="pt-5">Usur Utama Dan Sub Unsur</td>
                                <td colspan="6">Angka Kredit Menurut</td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="3">Perguruan Tinggi / Kopertis Pengusul</td>
                                <td colspan="3">Panitia Penilai</td>
                            </tr>
                            <tr class="text-center">
                                <td>Lama</td>
                                <td>Baru</td>
                                <td>Jumlah</td>
                                <td>Lama</td>
                                <td>Baru</td>
                                <td>Jumlah</td>
                            </tr>
                            <tr>
                                <td colspan="9">A. Pendidikan dan Pengajaran</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td colspan="2">Ijazah Magister Teknik</td>
                                <td></td>
                                <td class="text-center">150</td class="text-center">
                                <td class="text-center">150</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td colspan="2">MEmberi Kuliah Dan Membimbing</td>
                                <td></td>
                                <td class="text-center">16,5</td>
                                <td class="text-center">16,5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td colspan="2">Membuat Diklat / Modul Mengajar</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td colspan="2">Mengikuti Pendidikan Dan Pelatihan Fungsional Dosen</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3">Jumlah Unsur A</td>
                                <td></td>
                                <td class="text-center">166,5</td>
                                <td class="text-center">166,5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="9">B. Karya Ilmiah</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td colspan="2">MElakukan Penelitian</td>
                                <td></td>
                                <td class="text-center">1</td>
                                <td class="text-center">1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3">Jumlah Unsur B</td>
                                <td></td>
                                <td class="text-center">1</td>
                                <td class="text-center">1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="9">C. Pengabdian Kepada Masyarakat</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td colspan="2">Penganggung Jawab Survey dan Pengambilan data pada SKPD Badan
                                    Pelaksanaan Penyuluhan dan Ketahanan Pangan</td>
                                <td></td>
                                <td class="text-center">1</td>
                                <td class="text-center">1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3">Jumlah Unsur C</td>
                                <td></td>
                                <td class="text-center">1</td>
                                <td class="text-center">1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="9">D. Penunjang Tridarma Perguruan Tinggi</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td colspan="2">Menjadi Kepala Laboratorium</td>
                                <td></td>
                                <td class="text-center">3</td>
                                <td class="text-center">3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td colspan="2">Menjadi AnggotA dan Ketua</td>
                                <td></td>
                                <td class="text-center">2</td>
                                <td class="text-center">2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td colspan="2">Menjadi Peserta Seminar</td>
                                <td></td>
                                <td class="text-center">12</td>
                                <td class="text-center">12</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3">Jumlah Unsur D</td>
                                <td></td>
                                <td class="text-center">166,5</td>
                                <td class="text-center">166,5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="9">Rekapitulasi :</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Unsur A</td>
                                <td colspan="7">166,5</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Unsur B</td>
                                <td colspan="7">29</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Unsur C</td>
                                <td colspan="7">1</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Unsur D</td>
                                <td colspan="7">17</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Jumlah</td>
                                <td colspan="7">213,5</td>
                            </tr>
                            <tr class="bg-info">
                                <td></td>
                                <td>Jumlah Unsur</td>
                                <td colspan="7">213,5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>