<div class="row">
    <div class="col-lg-12 mt-3">
        <h3 class="mt-1" style="display: inline;">Tambah Sub Unsur Pelaksana Pendidikan</h3>
        <hr class="garis">
        <form action="">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="" class="control-label">Tahun Peraturan Rubrik</label>
                        <input type="text" id="" required class="form-control" placeholder="Example 2018">
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Sub Unsur</label>
                        <textarea name="" class="form-control" id="" cols="30" rows="5"
                            placeholder="Example Melaksanan Proses Pengajaran Selama 2 SMT"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Angka Kredit</label>
                        <input type="text" readonly class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="" class="control-label">Uraian Kegiatan</label>
                        <textarea name="" class="form-control" id="" cols="30" rows="5"
                            placeholder="Example Melaksanan Proses Pengajaran Selama 2 SMT"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="" class="control-label">Tanggal</label>
                        <input type="date" id="" required class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="" class="control-label">Satuan Hasil</label>
                        <input type="text" class="form-control" placeholder="Example Lektor 10 SKS pertama = 1">
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Jumlah Volume Kegiatan</label>
                        <input type="number" class="form-control" placeholder="example 1" required>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Bukti Fisik</label>
                        <input type="file" class="form-control" required>
                    </div>
                    <a href="data-pejabat-pemeriksa.html" style="width: 100px;" class="btn btn-outline-primary"
                        data-toggle="modal" data-target="#save"><span class="fas fa-save"></span> Save</a>
                    <a ui-sref="dosen-pendidikan" style="width: 100px;" class="btn btn-outline-danger"> <span
                            class="fas fa-close"></span> Exit</a>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal logout-->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Apakah Anda Yakin Ingin Keluar ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal save-->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SIPAK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Data Berhasil Disimpan</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

</html>