<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Daftar Usul Penetapan Angka Kredit</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>DAFTAR USUL PENETAPAN ANGKA KREDIT</p>
            </div>
            <div class="col-sm-6">
                <p>LAMPIRAN I KEPUTUSAN BERSAMA MENTERI PENDIDIKAN DAN KEBUDAYAAN DAN BADAN KEPEGAWAIAN NEGARA
                    <br>Nomor : 61409/MPK/KP/99
                    <br>Nomor : 181 TAHUN 1999
                    <br>Tanggal :13 Oktober 1999</p>
            </div>
            <div class="col-md-12 text-center mt-2">
                <p style="font-size: 20px;">SURAT PERNYATAAN<br>MELAKUKAN KEGIATAN PENDIDIKAN DAN PENGAJARAN</p>
            </div>
            <div class="col-md-12 mt-1">
                <div class="row">
                    <div class="col-md-12">
                        <p>Yang bertanda tangan dibawah ini</p>
                    </div>
                    <label for="" class="col-5">1.Nama</label>
                    <input type="text" name="" id="" class="form-control col-7" readonly value="Marla S. Pieter">
                    <label for="" class="col-5">2.NIDN</label>
                    <input type="text" name="" id="" class="form-control col-7" readonly value="1211088901">
                    <label for="" class="col-5">3.Pangkat / Golongan</label>
                    <input type="text" name="" id="" class="form-control col-7" readonly value="Lektor / III c">
                    <label for="" class="col-5">4.Jabatan</label>
                    <input type="text" name="" id="" class="form-control col-7" readonly
                        value="Ketua Program Studi Teknik Informatika S1">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Menyatakan Bahwa</p>
                    </div>
                    <label for="" class="col-5">1.Nama</label>
                    <input type="text" name="" id="" class="form-control col-7" readonly
                        value="Evanita V. Manullang, MT">
                    <label for="" class="col-5">2.NIDN</label>
                    <input type="text" name="" id="" class="form-control col-7" readonly value="1211088901">
                    <label for="" class="col-5">3.Pangkat / Golongan</label>
                    <input type="text" name="" id="" class="form-control col-7" readonly value="-">
                    <label for="" class="col-5">4.Jabatan</label>
                    <input type="text" name="" id="" class="form-control col-7" readonly
                        value="Kepala Laboratorium Fakultas Ilmu Komputer Dan Manajemen">
                    <label for="" class="col-5">5.Unit Kerja</label>
                    <input type="text" name="" id="" class="form-control col-7" readonly
                        value="Dosen Yayasan pada Universitas Sains dan Teknologi Jayapura Program Studi Teknik Informatika, Fakultas Ilmu ">
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <p>Telah Melakukan Kegiatan Pendidikan Dan Pengajaran Sebagai Berikut : </p>
            </div>
            <div class="col-md-12 mt-3">
                <div class="table table-responsive">
                    <table border="1" class="table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th>No</th>
                                <th>Kegiatan</th>
                                <th>Tanggal</th>
                                <th>Satuan Hasil</th>
                                <th>Jumlah Volume Kegiatan</th>
                                <th>Angka Kredit</th>
                                <th>Jumlah Angka Kredit</th>
                                <th>Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="text-center">
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>7</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mengikuti Pendidikan Program Pasca Sarjana</td>
                                <td>Magister Teknik Fakultas Teknik Elektro UNHAS</td>
                                <td>Juli 2011 - September 2013</td>
                                <td>Makassar</td>
                                <td>150</td>
                                <td>Copy Ijasah & Transkrip Nilai</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Melaksanakan Perkulahan Semeseter : </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>