<div class="row">
    <div class="col-md-12 mt-3">
        <h2 class="mt-1" style="display: inline;">Data Dosen</h2>
        <hr class="garis">
        <div class="row pl-3 mb-2">
            <select name="" id="" class="form-control col-3">
                <option>-- Select Universitas --</option>
            </select>
            <select name="" id="" class="form-control col-3">
                <option>-- Select Fakutlas --</option>
            </select>
            <select name="" id="" class="form-control col-3">
                <option>-- Select Program studi --</option>
            </select>
            <button class="btn btn-outline-primary ml-2"><span class="fas fa-search"></span></button>
        </div>

        <div class="table table-responsive">
            <table class="table table-bordered table-hover" id="myTable">
                <thead class=" bg-primary">
                    <tr>
                        <th class="text-center">No</th>
                        <th>NIDN</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Status Pemeriksa</th>
                        <th class="text-center">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{$index+1}}</td>
                        <td>8566739</td>
                        <td>Sofiah Elinan</td>
                        <td>SofialElinan@gmail.com</td>
                        <td>Dosen</td>
                        <td class="text-center">
                            <button class="btn btn-outline-success" data-toggle="modal" data-target="#dosen"><span
                                    class="fas fa-pencil-alt"></span></button>
                            <button class="btn btn-outline-info" data-toggle="modal" data-target="#detiledosen"><span
                                    class="fas fa-eye"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">{{$index+1}}</td>
                        <td>8566739</td>
                        <td>Kurniawan</td>
                        <td>SofialElinan@gmail.com</td>
                        <td>Rektor</td>
                        <td class="text-center">
                            <button class="btn btn-outline-success" data-toggle="modal" data-target="#dosen"><span
                                    class="fas fa-pencil-alt"></span></button>
                            <button class="btn btn-outline-info" data-toggle="modal" data-target="#detiledosen"><span
                                    class="fas fa-eye"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Modal detail  dosen-->
<div class="modal fade" id="detiledosen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detile Dosen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <h5>NIDN</h5>
                    </div>
                    <div class="col-8">
                        <h5>: 3456789</h5>
                    </div>
                    <div class="col-4">
                        <h5>Nama</h5>
                    </div>
                    <div class="col-8">
                        <h5>: Reinhard semboari</h5>
                    </div>
                    <div class="col-4">
                        <h5>Email</h5>
                    </div>
                    <div class="col-8">
                        <h5>: Reinhardsemboari471@gmail.com</h5>
                    </div>
                    <div class="col-4">
                        <h5>Perguruan Tinggi</h5>
                    </div>
                    <div class="col-8">
                        <h5>: Universitas Sains DAn Teknologi Jayapura</h5>
                    </div>
                    <div class="col-4">
                        <h5>Fakultas</h5>
                    </div>
                    <div class="col-8">
                        <h5>: Ilmu Komputer Dan Menejemen</h5>
                    </div>
                    <div class="col-4">
                        <h5>Program Studi</h5>
                    </div>
                    <div class="col-8">
                        <h5>: Teknik Informatika</h5>
                    </div>
                    <div class="col-4">
                        <h5>Tanggal Lahir</h5>
                    </div>
                    <div class="col-8">
                        <h5>: 03, November 1996</h5>
                    </div>
                    <div class="col-4">
                        <h5>Tempat Lahir</h5>
                    </div>
                    <div class="col-8">
                        <h5>: Serui</h5>
                    </div>
                    <div class="col-4">
                        <h5>Jenis Kelamin</h5>
                    </div>
                    <div class="col-8">
                        <h5>: Pria</h5>
                    </div>
                    <div class="col-4">
                        <h5>Pendidikan Terakhir</h5>
                    </div>
                    <div class="col-8">
                        <h5>: S1</h5>
                    </div>
                    <div class="col-4">
                        <h5>Jabatan Akademik</h5>
                    </div>
                    <div class="col-8">
                        <h5>: Lektor</h5>
                    </div>
                    <div class="col-4">
                        <h5>Masa Kerja</h5>
                    </div>
                    <div class="col-8">
                        <h5>: 5 Tahum</h5>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fas fa-close"></span>
                    Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal dosen-->
<div class="modal fade" id="dosen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Status Pemeriksa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="form-group">
                    <div class="form-group">
                        <select name="" id="" class="form-control">
                            <option value="">-- Select Status Pemeriksa --</option>
                            <option value="">Rektor</option>
                            <option value="">Kaprodi</option>
                            <option value="">Pemeriska Penelitian</option>
                            <option value="">Dosen</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fas fa-close"></span>
                    Close</button>
                <button type="button" class="btn btn-danger"> <span class="fas fa-save"></span> Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SIPAK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class=" text-uppercase">Apakah Anda Yakin Ingin Menghapus?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fas fa-close"></span>
                    Close</button>
                <button type="button" class="btn btn-danger"> <span class="fas fa-eraser"></span> Delete</button>
            </div>
        </div>
    </div>
</div>