<div class="row">
    <div class="col-md-12 mt-3">
        <h2 class="mt-1" style="display: inline;">Data Dosen</h2>
        <hr class="garis">
        <div class="row pl-3 mb-2">
            <select ng-change="SelectUniversitas(univ)" class="form-control col-3" ng-model="univ"
                ng-options="option.namauniversitas for option in Universitas track by option.iduniversitas">
                <option>--Universitas--</option>
            </select>
            <select ng-change="SelectFakultas(fak)" class="form-control col-3" ng-model="fak"
                ng-options="option.namafakultas for option in Fakultas track by option.idfakultas">
                <option>--Pilih Program Studi--</option>
            </select>
            <select class="form-control col-3"
                ng-options="option.namaprogramstudi for option in ProgramStudis track by option.idprogramstudi"
                ng-model="progdi">
                <option>--Pilih Program Studi--</option>
            </select>
        </div>

        <div class="table table-responsive">
            <table class="table table-bordered table-hover" datatable="ng" id="myTable">
                <thead class=" bg-primary">
                    <tr>
                        <th class="text-center">No</th>
                        <th>NIDN</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Status Pemeriksa</th>
                        <th class="text-center">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="univ"
                        ng-repeat="item in Datas|filter:{iduniversitas:univ.iduniversitas, idfakultas:fak.idfakultas,idprogramstudi:progdi.idprogramstudi}">
                        <td class="text-center">{{$index+1}}</td>
                        <td>{{item.nidn}}</td>
                        <td>{{item.namadosen}}</td>
                        <td>{{item.email}}</td>
                        <td ng-if="item.roles.length>1"><span ng-repeat="role in item.roles">
                                <div ng-if="role.rolename!='dosen'"> {{role.deskripsi}}</div>
                            </span></td>
                        <td ng-if="item.roles.length==1">
                            <span>
                                <div> {{item.roles[0].deskripsi}}</div>
                            </span></td>
                        <td class="text-center">
                            <button ng-click="SelectDosen(item)" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#dosen"><span class="fas fa-pencil-alt"></span></button>
                            <button ng-click="SelectDosen(item)" class="btn btn-outline-info" data-toggle="modal"
                                data-target="#detiledosen"><span class="fas fa-eye"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal detail  dosen-->
<div class="modal fade" id="detiledosen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detile Dosen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <h5>NIDN</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.nidn}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Nama</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.namadosen}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Email</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.email}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Perguruan Tinggi</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.namauniversitas}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Fakultas</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.namafakultas}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Program Studi</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.namafakultas}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Tempta, Tanggal Lahir</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.tempatlahir}}, {{item.tanggallahir|date:'dd-MM-yyyy'}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Jenis Kelamin</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.jeniskelamin}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Pendidikan Terakhir</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.pendidikanterakhir}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Jabatan Akademik</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.jabatan}}</h5>
                    </div>
                    <div class="col-4">
                        <h5>Masa Kerja</h5>
                    </div>
                    <div class="col-8">
                        <h5>: {{model.masakerja}}</h5>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fas fa-close"></span>
                    Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal dosen-->
<div class="modal fade" id="dosen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Status Pemeriksa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form ng-submit="ChangeRole(model)" class="form-group">
                <div class="modal-body">
                    <div class="form-group">
                        <select ng-model="model.newrole" class="form-control">
                            <option value="">-- Select Status Pemeriksa --</option>
                            <option value="rektor">Rektor</option>
                            <option value="kaprodi">Kaprodi</option>
                            <option value="pemeriksa">Pemeriska Penelitian</option>
                            <option value="dosen">Dosen</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span
                            class="fas fa-close"></span>
                        Close</button>
                    <button type="submit" class="btn btn-danger"> <span class="fas fa-save"></span> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SIPAK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class=" text-uppercase">Apakah Anda Yakin Ingin Menghapus?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span class="fas fa-close"></span>
                    Close</button>
                <button type="button" class="btn btn-danger"> <span class="fas fa-eraser"></span> Delete</button>
            </div>
        </div>
    </div>
</div>