<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-10">
				<div class="row mt-3 mb-4">
					<div class="col-md-3 ">
						<div class="card bg-success text-light text-center">
							<div class=" card-header">Universitas</div>
							<div class="card-body">
								<h2>0</h2>
							</div>
							<div class="card-footer">
								<p>last Update 19 Desember 2019</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 ">
						<div class="card bg-yellow text-light text-center">
							<div class="card-header">Sub Unsur Kegiatan</div>
							<div class="card-body">
								<h2>0</h2>
							</div>
							<div class="card-footer">
								<p>Last Update 19 Desember 2019</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 ">
						<div class="card bg-info text-light text-center">
							<div class="card-header">Pejabat Pemeriksa</div>
							<div class="card-body">
								<h2>0</h2>
							</div>
							<div class="card-footer">
								<p>Last Update 19 Desember 2019</p>
							</div>
						</div>
					</div>
				</div>
				<h2>Selamat Datang <span>Reinhard
						semboari,S.Kom</span><br><span style="font-size: 15px;">Anda Saat Ini Sedang
						Menggunakan SIPAK dengan hak akses Sebagai Dosen Pada Universitas
						Sains Dan Teknologi
						Jayapura</span>
				</h2>
				<hr>
				<p>Pada Halaman Ini, anda akan mengelola beberapa data pada SIPAK, antara lain
					Menambahkan <span class="text-primary">Data Universitas</span>, data Fakultas, dan
					data
					Program Studi yang ada dalam
					wilayah Lembaga Layanan Pendidikan Tinggi XIV Papua dan Papua Barat, serta adapun
					pengelolaan yang akan diolah adalah <span class="text-primary">Data Sub Unsur
						Kegiatan</span class="text-primary">, data ini merupakan unit
					kegiatan tertentu yang telah ditentukan berdasarkan Peraturan Mentri Pendayagunaan
					Dan Aparatur Negara Tentang Penilaian Angka Kredit Dosen. Guna Perhitungan Angka
					Kredit dan Juga Anda Akan Mengolah <span class="text-primary">Data Pejabat</span>
					Pemeriksa Dari Setiap Universitas
				</p>

			</div>
			<div class="col-md-2 mt-3">
				<changepassword></changepassword>
			</div>
		</div>

	</div>


</div>