<div class="row">
    <div class="col-md-12 mt-3">
        <h2 class="mt-1" style="display: inline;">Data Jabatan Fungsional</h2>
        <button data-toggle="modal" ng-click="model={}" data-target="#tambah-modal"
            class="btn btn-success fa-pull-right"><span class="fas fa-plus"></span></button>
        <hr class="garis">
        <div class="table table-responsive">
            <table class="table table-bordered table-hover" datatable="ng" id="myTable">
                <thead class=" bg-primary">
                    <tr>
                        <th class="text-center">No</th>
                        <th>Nama</th>
                        <th>Angka Kredit</th>
                        <th>Pangkat</th>
                        <th>Golongan</th>
                        <th>Ruang</th>
                        <th class="text-center">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in Datas">
                        <td class="text-center">{{$index+1}}</td>
                        <td>{{item.jabatan}}</td>
                        <td>{{item.ak}}</td>
                        <td>{{item.pangkat}}</td>
                        <td>{{item.golongan}}</td>
                        <td>{{item.ruang}}</td>
                        <td class="text-center">
                            <button ng-click="SelectItem(item)" data-toggle="modal" data-target="#tambah-modal"
                                class="btn btn-outline-success"><span class="fas fa-edit"></span></button>
                            <button ng-click="delete(item)" class="btn btn-outline-danger"><span
                                    class="fas fa-eraser"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Modal tambah jafung-->
<div class="modal fade" id="tambah-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Jabatan Fungsional</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="Save(model)" class="form-group">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="control-label">Jabatan</label>
                                    <input ng-model="model.jabatan" type="text" class="form-control" name="jabatan"
                                        placeholder="Example Asisten Ahli" required>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label">Angka Kredit</label>
                                    <input ng-model="model.ak" type="number" class="form-control" name="angkakredit"
                                        placeholder="Example 0,25" required>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label">Pangkat</label>
                                    <input ng-model="model.pangkat" type="text" class="form-control" name="pangkat"
                                        placeholder="Example Penata Muda" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="control-label">Golongan</label>
                                    <select ng-model="model.golongan"
                                        ng-options="item for item in Golongans track by item" name="golongan" id=""
                                        class="form-control">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label">Ruang</label>
                                    <select ng-model="model.ruang" ng-options="item for item in Ruangs track by item"
                                        name="golongan" id="" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span
                            class="fas fa-close"></span>
                        Close</button>
                    <button type="submit" class="btn btn-danger"> <span class="fas fa-save"></span> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>