    </nav>
    <div class="row">
        <div class="col-md-12 mt-3">
            <h2 class="mt-1" style="display: inline;">Data Program Studi</h2>
            <button class="btn btn-outline-primary pull-right" data-toggle="modal" data-target="#prodi">Tambah
                Program Studi</button>
            <hr class="garis">
            <div class="table table-responsive">
                <table class="table table-bordered table-hover" id="myTable">
                    <thead class="bg-primary">
                        <tr>
                            <th class="text-center">No</th>
                            <th>Nama Unniversitas</th>
                            <th>Nama Fakultas</th>
                            <th>Nama Program Studi</th>
                            <th class="text-center">Opsi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Universitas Sain Dan Teknologi Jayapura</td>
                            <td>Ilmu Komputer Dan Manajemen</td>
                            <td>Sistem Informasi</td>
                            <td class="text-center">
                                <button class="btn btn-outline-success">Ubah</button>
                                <button class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#delete">Hapus</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>Universitas Sain Dan Teknologi Jayapura</td>
                            <td>Ilmu Komputer Dan Manajemen</td>
                            <td>Sistem Informasi</td>
                            <td class="text-center">
                                <button class="btn btn-outline-success">Ubah</button>
                                <button class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#delete">Hapus</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>Universitas Sain Dan Teknologi Jayapura</td>
                            <td>Ilmu Komputer Dan Manajemen</td>
                            <td>Sistem Informasi</td>
                            <td class="text-center">
                                <button class="btn btn-outline-success">Ubah</button>
                                <button class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#delete">Hapus</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>Universitas Sain Dan Teknologi Jayapura</td>
                            <td>Ilmu Komputer Dan Manajemen</td>
                            <td>Sistem Informasi</td>
                            <td class="text-center">
                                <button class="btn btn-outline-success">Ubah</button>
                                <button class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#delete">Hapus</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td>Universitas Sain Dan Teknologi Jayapura</td>
                            <td>Ilmu Komputer Dan Manajemen</td>
                            <td>Sistem Informasi</td>
                            <td class="text-center">
                                <button class="btn btn-outline-success">Ubah</button>
                                <button class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#delete">Hapus</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>
                            <td>Universitas Sain Dan Teknologi Jayapura</td>
                            <td>Ilmu Komputer Dan Manajemen</td>
                            <td>Sistem Informasi</td>
                            <td class="text-center">
                                <button class="btn btn-outline-success">Ubah</button>
                                <button class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#delete">Hapus</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">7</td>
                            <td>Universitas Sain Dan Teknologi Jayapura</td>
                            <td>Ilmu Komputer Dan Manajemen</td>
                            <td>Sistem Informasi</td>
                            <td class="text-center">
                                <button class="btn btn-outline-success">Ubah</button>
                                <button class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#delete">Hapus</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>