<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-1" style="display: inline-block;">Data Sub Unsur Kegiatan</h3>
                <hr class="garis">
            </div>
            <div class="col-md-4">
                <form class="input-group">
                    <select ng-change="SelectPeraturan()" ng-model="Peraturan" class="form-control"
                        ng-options="option.tahun for option in Peraturans track by option.idperaturan"></select>
                </form>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success fa-pull-right" data-toggle="modal" data-target="#subunsur"><span
                        class="fas fa-plus"></span></button>
            </div>
            <div class="col-md-12">
                <div class="table table-responsive mt-3">
                    <table class="table table-bordered table-hover" datatable="ng" id="myTable">
                        <thead class=" bg-primary">
                            <tr>
                                <th class="text-center">No</th>
                                <th>Tahun</th>
                                <th>Unsur</th>
                                <th>Nama Sub Unsur</th>
                                <th>Satuan Hasil</th>
                                <th>Angka Kredit</th>
                                <th>Pelaksanaan Kegiatan</th>
                                <th class="text-center">Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Datas">
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{item.tahun}}</td>
                                <td>{{item.namaunsur}}</td>
                                <td>{{item.namasubunsur}}</td>
                                <td>{{item.satuanhasil}}</td>
                                <td>{{item.ak}}</td>
                                <td>{{item.namajabatan}}</td>
                                <td class="text-center">
                                    <button ng-click="SelectItem(item)" class="btn btn-outline-success"
                                        data-toggle="modal" data-target="#subunsur"><span
                                            class="fas fa-edit"></span></button>
                                    <button ng-click="delete(item)" class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#delete"><span class="fas fa-eraser"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal sub unsur-->
<div class="modal fade" id="subunsur" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Data Sub Unsur 1</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="save(model)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Tahun">Tahun</label>
                                <input type="text" class="form-control" ng-model="Peraturan.tahun" readonly>
                            </div>
                            <div class="form-group">
                                <label for="sub-unsur">Jenjang</label>
                                <select class="form-control col-3" ng-model="model.jabatan"
                                    ng-options="option.jabatan for option in Jabatans track by option.idjabatan"></select>
                            </div>
                            <div class="form-group">
                                <label for="unsur">Unsur</label>
                                <select class="form-control col-3" ng-model="model.unsur"
                                    ng-options="option.nama for option in Unsurs track by option.idunsur"></select>
                            </div>
                            <div class=" form-group">
                                <label for="sub-unsur">Sub Unsur</label>
                                <textarea cols="30" rows="5" class="form-control" ng-model="model.namasubunsur"
                                    placeholder="example Asisten ahli untuk 10 SKS Pertama" required></textarea>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="satuan-hasil">Satuan Hasil</label>
                                <input type="text" class="form-control" ng-model="model.satuanhasil"
                                    placeholder="example 1 smt" required>
                            </div>
                            <div class="form-group">
                                <label for="angka-kredit">Angka Kredit</label>
                                <input ng-model="model.ak" type="text" class="form-control" placeholder="example 0,5"
                                    required>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> <span
                            class="fas fa-close"></span>
                        Close</button>
                    <button type="submit" class="btn btn-primary"> <span class="fas fa-save"></span> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>