                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row mt-3 mb-4">
                                    <div class="col-md-4 ">
                                        <div class="card bg-success text-light text-center">
                                            <div class="card-header">Data Pengusulan</div>
                                            <div class="card-body">
                                                <h2>0</h2>

                                            </div>
                                            <div class="card-footer">
                                                <p>Revisi 0</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="card bg-yellow text-light text-center">
                                            <div class="card-header">Data Pengusulan Baru</div>
                                            <div class="card-body">
                                                <h2>0</h2>
                                            </div>
                                            <div class="card-footer">
                                                <p>Last Update 19 Desember 2019</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h2>Selamat Datang <span>Saulus,S.Kom</span><br><span style="font-size: 15px;">Anda Saat
                                        Ini Sedang
                                        Menggunakan SIPAK dengan hak akses Sebagai Rektor Pada Universitas Sains Dan
                                        Teknologi
                                        Jayapura</span></h2>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            </div>
                            <div class="col-md-2 mt-3">
                                <fotoprofile></fotoprofile>
                                <changepassword></changepassword>
                            </div>
                        </div>

                    </div>

                </div>