                <div class="row">
                    <div class="col-md-3 mt-3">
                        <div class="card bg-success text-light text-center">
                            <div class="card-header">Dosen</div>
                            <div class="card-body">
                                <h2>0</h2>
                            </div>
                            <div class="card-footer">
                                <p>Last Update 19 Desember 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card mt-3">
                            <div class="card-header bg-info text-light">
                                <div class="card-title" style="display: inline; font-size: 20px;">Home</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- <fotoprofile></fotoprofile>
                                        <changepassword></changepassword> -->
                                    </div>
                                    <div class="col-md-9">
                                        <h2>Selamat Datang <span>{{Profile.namadosen}}</span><br><span
                                                style="font-size: 15px;">Anda Saat Ini Sedang
                                                Menggunakan SIPAK dengan hak akses Sebagai Admin Universitas Pada
                                                {{namaprogramstudi}}-{{Profile.namauniversitas}}</span></h2>
                                        <hr style="border-bottom: 1px solid">
                                        <div class="row">
                                            <p class="col-md-3">Email</p>
                                            <p class="col-md-9">: rein@gmail.com</p>
                                            <p class="col-md-3">No Telp</p>
                                            <p class="col-md-9">: 082399474787</p>
                                            <p class="col-md-3">Universitas</p>
                                            <p class="col-md-9">: Universitas Sains Dan Teknologi Jayapura, Fakultas
                                                Ilmu
                                                Komputer Dan Manajemen, Jurusan Sistem Informasi</p>
                                            <br>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>